body
{
    color: #105B23;
    text-align: center;
    display: flex;
    justify-content: center;

    background-image: url(Wallpaper-2.jfif);
    background-repeat: no-repeat;
    background-size: cover;
}

#cajita
{
    width: 70%;
    padding: 0;
    text-align: left;
    margin: 0px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#Cabecera
{
    background-color: #009D7E;
    margin: 0;
    padding: 0.5em;
    font-family: sans-serif;
    font-size: 24px;
    color: white;
}

#cajita h1
{
    margin: 8px;
    font-size: 30px;
    font-family: Verdana;
}

#cajita #Subtitulo
{
    padding: 4px;
    font-size: 16px;
}

#cajita p
{
    padding: .5em;
    font-size: 16px;
}

#footer
{
    display: flex;
    padding-left: 16px;
    background: #4c4c4c;
    color: beige;
    justify-content: center;
}